<div class="header" >
  <div class="textArea" >
    <h2>
      Email Distribution list!
    </h2>
    <p>Creating your own custom Mail Distribution list.<br/> Users can join or leave when they likes to. No registration is required, only a valid mail address is needed.</p>
  </div>
  <div class="action">
    <form action="/create" method="POST">
      <div class="mailName">
        <input type="text" name="mail" placeholder="WeeklyJokes" />
        <p>@mymaildl.com</p>
      </div>
      <input type="submit" value="Create" />
    </form>
  </div>
</div>